<div class="header">
    <div class="header-container">

        <div class="logo">
            <div>auto.market</div>
        </div>

        <div class="pages">
            <div>Home</div>
            <div>Sell Car</div>
            <div>Buy Car</div>
            <div>Market</div>
            <div>Contact Us</div>
        </div>

        <div class="btn-group">
          <mat-icon svgIcon="bx-car-garage"></mat-icon>
          <mat-icon svgIcon="bx-star"></mat-icon>
          <mat-icon svgIcon="bx-user"></mat-icon>
          <button class="sign-in">Sign in</button>
          <button class="sign-up">Sign up</button>
        </div>
    </div>

</div>
